# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database files
*.sqlite3
*.db

# Virtual environments
venv/
env/
ENV/
.venv/
.ENV/

# System files
.DS_Store
Thumbs.db

# Editor-specific folders
.vscode/
.idea/

# Log files
*.log
